label.label-danger{
    padding-left: 3px;
    padding-right: 3px;
    background: rgb(191, 58, 43);
    margin-top: 3px;
    border-radius: 3px;
}
.dklichkham{
    padding-bottom:100px;
}
.dklichkham > .card-body{
    width:85%;
    margin: auto;
}
.group-cbx-sex{
    border:1px solid #ced4da;
    padding-top: 7px;
    padding-left: 40px;
    border-radius: 4px;
}
.group-cbx-sex label{
    margin-bottom: 5px;
}
.chosen-results{
 height: 200px;
}